.DS_Store
node_modules
/lib/
/test/
.wireit/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/public/assets/
/docs/api/generated/
.vscode/settings.json

/dist/
/coverage/

.env
debug.log
stats.html
tsconfig.tsbuildinfo

bendera-vscode-webview-elements-*.tgz
vscode-elements-elements-*.tgz
custom-elements.json
vscode.*-custom-data.json
