.DS_Store
node_modules
/lib/
/test/
.vscode/settings.json

/dist/
/coverage/

.env
debug.log
stats.html
tsconfig.tsbuildinfo

nusys-ui-*.tgz
custom-elements.json
vscode.*-custom-data.json

/demo-dist/
/.baseline/

/.vitest/

/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/public/assets/
/docs/api/generated/
/.vitepress/cache/
